<div th:fragment="header" class="container-fluid">
    <div class="row bg-info header-Height">
        <div class=" logoHolder">
            <img src="../images/pngwing.com.png" alt="голодовка" class="logo-img" width="50px">
        </div>
    </div>
</div>

<div th:fragment="header2" class="container">
    <div class="row header-Height">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="logoHolder">
                        <h1><img src="../images/pngwing.com.png" alt="голодовка" class="logo-img" width="50px">
                        Голодовка</h1>
                        <h6 style = "margin-left: 70px; margin-top: -15px;"><i>голодайте с умом</i></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>