<div th:fragment = "login" class="login">
  <div class="card border-primary">
    <div class="card-body">
      <div class="form-group">
        <div class="container-fluid">
          <div class="row">
            <label for="login">Логин</label>
            <input type="text"
                   class="form-control" name="" id="login" aria-describedby="helpId" placeholder="">
          </div>
          <div class="row">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="" id="password" placeholder="">
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row btn-margin">
                <button type="button" class="btn btn-primary">Вход</button>
              </div>
            </div>
            <div class="col-6">
              <div class="row btn-margin">
                <button type="button" class="btn btn-danger">Регистрация</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>